title {
    font-weight: bolder;
}

h1 {
    display: flex;
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #4aa476;
}
button {
    display: block;
    box-shadow: 5px 5px 0px;
    font-size: larger;
    background-color: #4aa476;
}

button :hover {background-color: #e1ebe1}
    
button :pressed {
    background-color: aqua;
}
section {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    justify-content: flex-end;
    flex-flow: row;
    font-size: x-large;
}